@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  background-color: #000000;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Press Start 2P', sans-serif;
  color: #ffffff;
  text-align: center;
}

.container {
  width: 100%;
  max-width: 800px;
}

.logo {
  max-width: 100%;
  height: auto;
}

.category {
  background: linear-gradient(to bottom right, rgba(63, 81, 181, 1) 0%, rgba(171, 71, 188, 1) 70%);
  box-shadow: 1px 1px 30px rgba(81, 45, 168, 1);
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}

.category-text {
  font-size: 24px;
  margin-top: 10px;
}

.play-button {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 16px;
  background: linear-gradient(to top right, rgba(156, 204, 101, 1) 0%, rgba(38, 198, 218, 1) 50%);
  box-shadow: 1px 1px 30px rgba(38, 198, 218, 1);
  margin-top: 15px;
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.play-button:hover {
  background-color: #777777;
}

#game-container {
  background-image: url(../assets/img/brique.jpg);
  background-position: center;
  padding: 45px;
}

.letter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.letter {
  display: inline-block;
  font-size: 24px;
  margin: 5px;
  background-color: #4f4f4f;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;

  margin-bottom: 40px;
}

.word-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.empty-box {
  display: inline-block;
  font-size: 24px;
  margin: 5px;
  width: 25px;
  /* DÃ©finir la largeur souhaitÃ©e pour les cases vides */
  height: 25px;
  /* DÃ©finir la hauteur souhaitÃ©e pour les cases vides */
  background-color: #777777;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.letter-box {
  display: inline-block;
  font-size: 24px;
  margin: 5px;
  background-color: #4f4f4f;
  border-radius: 5px;
  padding: 10px;
  color: #ffffff;
}

.letter.selected {
  background-color: #777777;
}

#button-container {
  margin-bottom: 20px;
}

#check-button {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 16px;
  background: linear-gradient(to bottom right, rgba(63, 81, 181, 1) 0%, rgba(171, 71, 188, 1) 70%);
  box-shadow: 1px 1px 30px rgba(81, 45, 168, 1);
  margin-right: 10px;
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 10px;
}

#back-button {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 16px;
  background: linear-gradient(to bottom right, rgba(63, 81, 181, 1) 0%, rgba(171, 71, 188, 1) 70%);
  box-shadow: 1px 1px 30px rgba(81, 45, 168, 1);
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#check-button:hover,
#back-button:hover {
  background-color: #777777;
}


.letter-container {
  display: flex;
}

.progress-indicator {
  left: -80px;
  position: relative;
  top: -236px;
}


.category-indicator {
  padding-top: 15px;

}

.lives-indicator {
  position: absolute;
  top: 36px;
}

.lives-indicator-game {
  position: relative;
  top: -78px;
  left: -148px;
}

.lives-icon {
  font-size: 20px;
  color: #e91c1c;
}

.lives-count {
  font-size: 18px;
  margin-left: 5px;
}

.lives-count-game {
  font-size: 18px;
  margin-left: 5px;
}

.score-container {
  position: absolute;
  top: 5px;
}

#score-label {
  font-size: 20px;
  color: #ffffff;
}

.bonus-indicator {
  position: absolute;
  top: 66px;
}

.bonus-icon {
  font-size: 20px;
  color: #fff308;
}

.bonus-indicator-game {
  position: relative;
  top: -106px;
  right: -145px;
}